<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Fody" version="1.28.3" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PropertyChanged.Fody" version="1.50.1" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" developmentDependency="true" />
</packages>
